.row
  .about
    h1.title About
    .img
      img.me(src="{{base}}/assets/images/me.png")
    .abtme
      p
        |I am a​ designer and frontend Developer.
        |I am a guy who is trying to grow up and do mature stuff but ends up doing Designing and making cool stuff.I have three years of experience in graphic & UI/UX designing and half year's experience of frontend development.
