.row
  h2 About
.row
  p This site was started to be a simple portfolio but accidently it had super soldier serum and became a tool to help me keep the record of the things I feel inspired from.
  .center
    img.super(src="assets/images/ss.jpg")
.row
  h3 Who am I?
  p I am a guy who is trying to grow up and do mature stuff but ends up doing Designing and making cool stuff.I have three years of experience in graphic , UI/UX designing &  frontend Designing.
  .center
    img.me(src="assets/images/sad.png")
