{% assign Inspiration = site.posts | where: 'Inspiration', 'true' %}
{% for posts in Inspiration limit:1 %}
.featured
  //- .tags
  //-   {% for tags in posts.tags %}
  //-   a(href='#') {{tags}}
  //-   {% endfor %}
  .img
    .imgwrap
      a(href='{{posts.url}}')
        img(src="{{posts.thumbnail}}")
  .text-container
    h3.title 
      a(href='#') {{posts.title}}
    p.disc {{posts.disc}}
    {% for tags in posts.tags %}
    .cat
      a(href='#') {{tags}},
    {% endfor %}
{% endfor %}
