#header
  a(href='{{base}}/index.html')
    h1.logo Parth<br>Jansari
  .nav
    ul
      li
        a(href="{{base}}/Colections.html" class="underline") Colections
      li
        a(href="{{base}}/portfolio.html" class="underline") Portfolio
      li
        a(href="{{base}}/about.html" class="underline") About
